/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --primary-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #000028;
}

.page.theme_dark {

}
