:root.theme-dark {
  --primary-color: #F1B2CE;
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --heading-color-alt: #DB00FF;
  --title-color: #000028;
  --background-color: #000028;
}

.page.theme_dark {

}
