/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --primary-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #000028;  
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (prefers-color-scheme: light) {
:root {
  --primary-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #000028;  
  }
}

/* Остальные стили */


