/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --primary-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;  
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #353430;  
  }

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
  }
}

