/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* Переменные светлой темы */    
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (prefers-color-scheme: light) {
:root {
      /* Дублируем переменные светлой темы */    
  }
}

/* Остальные стили */


