/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  color: var(--primary-color);
  font-family: var(--main-font), monospace;
  font-size: var(--text-font-size);
  line-height: 130%;
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--title-color);
  border-block-start: 1px solid var(--title-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--title-color);
  border-block-end: 1px solid var(--title-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.decoration {
  position: absolute;
  display: flex;
  align-self: flex-end;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: 30px;
  inset-block-start: 12px;
}

.decoration::before {
  content: 'rec';
}

.decoration::after {
  content: '';
  position: relative;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  outline: none;
  color: var(--title-color);
  font-weight: 400;
  font-size: inherit;
  font-style: normal;
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  min-inline-size: 70px;
  block-size: 26px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-color);
  outline-offset: -1px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--title-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-color);
}

.header__title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: var(--heading-font-size);
  line-height: 82.5%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0px var(--heading-shadow-color);
}

.header__description-container {
  align-self: center;
  justify-self: end;
  font-weight: 700;
  inline-size: min(100%, 364px);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--primary-color); /** подчёркивание при наведении, иначе тень накладывается на подчёркивание **/
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px 0;
  inline-size: 100%;
}

.content__block {
  display: grid;
}

.content__block-title {
  margin-block-end: 20px;
  color: var(--title-color);
  font-size: inherit;
}

.content__points {
  display: grid;
  gap: 20px;
}

.content__point-title {
  font-weight: 700;
  font-size: inherit;
}

.content__point-title_mod {
  margin-block-end: 20px;
}

.content__text {
  margin-block-start: 10px;
}

.content__point-subtitle {
  font-weight: 400;
  font-size: inherit;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 10px 40px;
  inline-size: 100%;
}

.gallery__title {
  color: var(--accent-color);
  font-size: inherit;
}

.image-list {
  display: grid;
  gap: 10px;
  inline-size: 100%;
}

.image-list__container {
  line-height: 0;
}

.image-list__image {
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__text {
  margin: auto;
  color: var(--heading-color);
  font-weight: 700;
  font-size: var(--heading-font-size);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--heading-shadow-color);
}

.title-decor {
  color: var(--title-color-decor);
  background-color: var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decoration {
    inset-inline-end: 40px;
    inset-block-start: 22px;
  }

  .header__title {
    position: relative;
    inset-inline-start: -20px;
  }

  .header__description-container {
    inline-size: min(calc((100%) / 2), 491px);
  }

  .content {
    gap: 80px;
    padding: 60px 20px 0;
  }

  .content__block {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__block-title {
    margin: 0;
  }

  .content__block_mod {
    grid-template-areas:
      '. . .'
      'point point point';
  }

  .content__points_mod {
    grid-area: point;
    min-inline-size: 100%;
  }

  .gallery {
    gap: 20px;
    padding: 79px 20px 60px;
    inline-size: 100%;
  }

  .image-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .image_fit_cover {
    object-fit: cover;
  }

  .image_pos_top {
    grid-column: 1/3;
    grid-row: 1;
  }

  .image_pos_right {
    grid-column: 3;
    grid-row: 1/3;
  }

  .image_pos_left {
    grid-column: 1;
    grid-row: 2/4;
  }

  .image_pos_btm {
    grid-column: 2/4;
    grid-row: 3;
  }

  .image_pos_center {
    grid-column: 2;
    grid-row: 2;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__points_mod {
    grid-template-columns: repeat(3, 1fr);
  }
}
